# dependencies
node_modules/

# build output
dist/

# python
.venv/
venv/
__pycache__/
*.pyc
*.pyo
/apps/desktop/logs/

# env
.env
*.local

# editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
